<template>
  <a-modal
    :visible="visible"
    :title="title"
    :footer="null"
    @cancel="onCancel"
  >
    <div
      :class="$style.blocks"
      v-if="list"
    >
      <a
        v-for="item in list"
        :key="item.brief"
        href="#0"
        :class="$style.block"
        @click.prevent="onSelect(item)"
      >
        <ViewBlock
          :item="item"
        />
        <p
          v-if="item.text"
          :class="$style.text"
        >{{ item.text }}</p>
      </a>
    </div>
  </a-modal>
</template>

<script>
export default {
  components: {
    ViewBlock: () => import('~~/components/model/ViewBlock/index.vue'),
  },
  props: ['visible', 'title', 'list'],
  data() {
    return {
      
    }
  },
  methods: {
    onSelect(item) {
      this.$emit('onOk', item);
    },
    onCancel() {
      this.$emit('onClose');
    },
  }
}
</script>

<style lang="less" module>
  @import url(./style.less);
</style>
