.blocks {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  flex-wrap: wrap;
}
.block {
  margin: 10px;
  width: calc(25% - 20px);
  border-radius: 4px;
  border: 7px solid white;
  box-shadow: 0 0 2px 1px rgba(28, 28, 28, .1);
  transition: .3s ease;
  &:hover {
    box-shadow: 0 0 10px 3px rgba(28, 28, 28, .07);
  }
}
.text {
  margin-top: 5px;  
  font-size: 0.72rem;
  line-height: 1.2em;
  color: @greyDark;
}
