<template>
  <a-modal
    v-model="isShow"
    title=""
    :footer="null"
    class="modal"
    :width="600"
    :confirmLoading="!model.id"
    @cancel="onCancel"
  >
    <div
      :class="$style.cart"
      v-if="!loading && model.id"
    >
      <h2>{{ model.name }}</h2>

      <!-- <div :class="$style.cartImg">
        <lazy-component>
          <picture>
            <img
              :src="model.img"
              :alt="model.name"
            >
          </picture>
        </lazy-component>
      </div>
      <div :class="$style.cartDescription">
        <div :class="$style.cartHeader">
          <p :class="$style.cartName">
            {{ model.name }}
          </p>
          <p :class="$style.cartPrice">
            <span>₽</span>{{ model.price }}
          </p>
        </div>
        <div :class="$style.cartSelects">
          <div :class="$style.select">
            <p :class="$style.selectLabel">
              Модель
            </p>
            <a-select
              show-search
              placeholder="Выберите модель"
              @change="onChangeModel"
            >
              <a-select-option
                v-for="model in optionsModel"
                :key="model.id"
                :value="model.brief"
              >
                {{ model.name }}
              </a-select-option>
            </a-select>
          </div>
          <div :class="$style.select">
            <p :class="$style.selectLabel">
              Материал
            </p>
            <a-select
              placeholder="Выберите материал"
              @change="onChangeMaterial"
            >
              <a-select-option
                v-for="material in optionsMaterial"
                :key="material.id"
                :value="material.brief"
              >
                {{ material.name }}
              </a-select-option>
            </a-select>
          </div>
        </div>
        <div :class="$style.cartBtns">
          <button
            class="btn-3 btn-3_border"
            @click="onAddToCart"
          >
            Заказать
          </button>
          <button
            class="btn-3"
            @click="onAddToCart"
          >
            В корзину
          </button>
        </div>
      </div> -->
    </div>
  </a-modal>
</template>

<script>
// <!-- :confirmLoading="!model?.id" -->

export default {
  name: 'CategoryModal',
  props: ['isVisible', 'loading', 'model'],
  data() {
    return {
      optionsModel: [
        {
          id: 0,
          name: 'iPhone 5/5S/SE',
          brief: 'iphone5',
          addCost: 0,
        },
        {
          id: 1,
          name: 'iPhone 6/6S',
          brief: 'iphone6',
          addCost: 0,
        },
        {
          id: 2,
          name: 'iPhone 6 Plus/6S Plus',
          brief: 'iphone6plus',
          addCost: 0,
        },
        {
          id: 3,
          name: 'iPhone 7/8',
          brief: 'iphone7',
          addCost: 0,
        },
        {
          id: 4,
          name: 'iPhone 7 Plus/8 Plus',
          brief: 'iphone7plus',
          addCost: 0,
        },
        {
          id: 5,
          name: 'iPhone X/XS',
          brief: 'iphonex',
          addCost: 0,
        },
        {
          id: 6,
          name: 'iPhone XR',
          brief: 'iphonexr',
          addCost: 0,
        },
        {
          id: 7,
          name: 'iPhone XS Max',
          brief: 'iphonexsmax',
          addCost: 0,
        },
        {
          id: 8,
          name: 'iPhone 11',
          brief: 'iphone11',
          addCost: 0,
        },
        {
          id: 9,
          name: 'iPhone 11 Pro',
          brief: 'iphone11pro',
          addCost: 0,
        },
        {
          id: 10,
          name: 'iPhone 11 Pro Max',
          brief: 'iphone1promax',
          addCost: 0,
        },
      ],
      optionsMaterial:[
        {
          id: 0,
          name: 'Ультратонкий',
          brief: 'ultrathin',
          addCost: 0,
        },
        {
          id: 1,
          name: 'Противоударный',
          brief: 'shockproof',
          addCost: 100,
        },
      ],
      defaultModel: 'iphone7',
      defaultMaterial: 'shockproof',
    }
  },
  computed: {
    isShow() {
      return this.isVisible;
    }
  },
  methods: {
    onCancel() {
      this.$emit('onClose');
    }
  }
}
</script>

<style lang="less" module>
  @import url('./Modal.less');
</style>
