.payment {
  .container();
}
.paymentList {
  display: flex;
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 40px;
}
.item {
  position: relative;
  padding-top: 40px;
  padding-left: 40px;
  margin-left: 30px;
  margin-right: 30px;
  width: 25%;
  & > p {
    margin-top: 10px;
    margin-left: -40px;
    line-height: 1.7em;
  }
}
.itemNum {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  z-index: 2;
  background: @blueOpacity;
  & p {
    position: relative;
    padding-bottom: 4px;
    margin-bottom: 0;
    font-size: .7rem;
    line-height: 1em;
    font-weight: 600;
    color: white;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 3px;
      background-color: @grey;
    }
  }
}
.itemIcon {
  position: relative;
}
.itemSvg {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: @red;
  & img {
    width: 60%;
  }
}

@media (max-width: 992px) {
  .item {
    padding-top: 25px;
    padding-left: 25px;
    & > p {
      margin-left: -25px;
    }
  }
  .itemNum {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 768px) {
  .paymentList {
    flex-wrap: wrap;
  }
  .item {
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    width: calc(50% - 60px);
    & > p {
      margin-left: -10px;
    }
  }
  .itemIcon {
    max-width: 120px;
  }
  .itemNum {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 576px) {
  .paymentList {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 10px;
  }
  .item {
    margin-left: 15px;
    margin-right: 15px;
    width: calc(50% - 30px);
  }
  .itemIcon {
    max-width: 80px;
  }
}
