<template>
  <div :class="$style.payment">
    <h2 class="title">Способы оплаты</h2>
    <div :class="$style.paymentBlock">
      <h3 class="title-h3">Оплата наложенным платежом</h3>
      <div :class="$style.paymentList">
        <div :class="$style.item">
          <div :class="$style.itemNum"><p>01</p></div>
          <div :class="$style.itemIcon">
            <img
              class="img-background"
              src="~/assets/img/squad.jpg"
              alt="Фон"
            />
            <div :class="$style.itemSvg">
              <img src="~/assets/svg/shopping-cart.svg" />
            </div>
          </div>
          <p>Оформление заказа</p>
        </div>
        <div :class="$style.item">
          <div :class="$style.itemNum"><p>02</p></div>
          <div :class="$style.itemIcon">
            <img
              class="img-background"
              src="~/assets/img/squad.jpg"
              alt="Фон"
            />
            <div :class="$style.itemSvg">
              <img src="~/assets/svg/export.svg" />
            </div>
          </div>
          <p>Отправка заказа</p>
        </div>
        <div :class="$style.item">
          <div :class="$style.itemNum"><p>03</p></div>
          <div :class="$style.itemIcon">
            <img
              class="img-background"
              src="~/assets/img/squad.jpg"
              alt="Фон"
            />
            <div :class="$style.itemSvg">
              <img src="~/assets/svg/money.svg" />
            </div>
          </div>
          <p>Оплата заказа наличными при получении + Оплата услуги наложенного платежа</p>
        </div>
        <div :class="$style.item">
          <div :class="$style.itemNum"><p>04</p></div>
          <div :class="$style.itemIcon">
            <img
              class="img-background"
              src="~/assets/img/squad.jpg"
              alt="Фон"
            />
            <div :class="$style.itemSvg">
              <img src="~/assets/svg/order.svg" />
            </div>
          </div>
          <p>Получение заказа</p>
        </div>
      </div>
    </div>

    <div :class="$style.paymentBlock">
      <h3 class="title-h3">Оплата банковской картой</h3>
      <div :class="$style.paymentList">
        <div :class="$style.item">
          <div :class="$style.itemNum"><p>01</p></div>
          <div :class="$style.itemIcon">
            <img
              class="img-background"
              src="~/assets/img/squad.jpg"
              alt="Фон"
            />
            <div :class="$style.itemSvg">
              <img src="~/assets/svg/shopping-cart.svg" />
            </div>
          </div>
          <p>Оформление заказа</p>
        </div>
        <div :class="$style.item">
          <div :class="$style.itemNum"><p>02</p></div>
          <div :class="$style.itemIcon">
            <img
              class="img-background"
              src="~/assets/img/squad.jpg"
              alt="Фон"
            />
            <div :class="$style.itemSvg">
              <img src="~/assets/svg/payment.svg" />
            </div>
          </div>
          <p>Оплата банковской картой на сайте через безопасную систему Яндекс Касса</p>
        </div>
        <div :class="$style.item">
          <div :class="$style.itemNum"><p>03</p></div>
          <div :class="$style.itemIcon">
            <img
              class="img-background"
              src="~/assets/img/squad.jpg"
              alt="Фон"
            />
            <div :class="$style.itemSvg">
              <img src="~/assets/svg/export.svg" />
            </div>
          </div>
          <p>Отправка заказа</p>
        </div>
        <div :class="$style.item">
          <div :class="$style.itemNum"><p>04</p></div>
          <div :class="$style.itemIcon">
            <img
              class="img-background"
              src="~/assets/img/squad.jpg"
              alt="Фон"
            />
            <div :class="$style.itemSvg">
              <img src="~/assets/svg/order.svg" />
            </div>
          </div>
          <p>Получение заказа</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MainPayment',
  data() {
    return {
      
    }
  },
  methods: {
    
  }
}
</script>


<style lang="less" module>
  @import url('./Payment.less');  
</style>  