<template>
  <div :class="$style.body">
    <a-table
      :columns="columns"
      :data-source="products"
      :pagination="false"
      bordered
    >
      <template
        slot="footer"
      >
      <!-- slot-scope="currentPageData" -->
        <div :class="$style.footer">
          <div :class="$style.footerText">Итого:</div>
          <div :class="$style.footerSum">{{ priceSum | splitPrice }} ₽</div>
        </div>
      </template>
    </a-table>
  </div>
</template>

<script>
import separate from '~~/mixins/separate.js';

const columns = [
  {
    title: '№',
    dataIndex: 'idx',
  },
  {
    title: 'Наименование',
    dataIndex: 'name',
  },
  {
    title: 'Кол-во',
    dataIndex: 'count',
  },
  {
    title: 'Цена, руб',
    dataIndex: 'price',
  },
  {
    title: 'Сумма, руб',
    dataIndex: 'sum',
  },
];


export default {
  name: 'StepOne',
  computed: {
    priceSum() {
      const sum = this.products.reduce((acc, curr) => (acc + (curr.sum || 0)), 0);
      return sum;
    },
  },
  props: ['products'],
  data() {
    return {
      columns,
    }
  },
  mixins: [separate],
}
</script>

<style lang="less" module>
  @import url('./style.less');
</style>
