.catalog {
  padding-top: 70px;
  padding-bottom: 70px;
  background: url('../../../assets/img/bcg-2.jpg') no-repeat right top;
  background-size: auto 420px;
}
.catalogBody {
  .container();
}
.catalogBtn {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

@media (max-width: 992px) {
  .catalog {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

