<template>
  <div :class="$style.catalog">
    <div :class="$style.catalogBody">
      <h2 class="title">Каталог</h2>
      <CatalogList
        :brands="brandsPart"
      />
      <div :class="$style.catalogBtn">
        <button
          class="btn-2"
          @click="onAllCatalog"
        >Весь каталог</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MainCatalog',
  props: ['brands'],
  components: {
    CatalogList: () => import('~~/components/catalog/List/List'),
  },
  data() {
    return {
      
    }
  },
  computed: {
    brandsPart() {
      return this.brands?.slice(0, 6) ?? [];
    }
  },
  methods: {
    onAllCatalog() {
      const path = `/catalog`;

      this.$router.push({ path });
    }
  }
}
</script>


<style lang="less" module>
  @import url('./Catalog.less');  
</style>  