<template>
  <div :class="$style.category">
    <CatalogList
      :brands="brands"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  components: {
    CatalogList: () => import('~~/components/catalog/List/List'),
  },
  data() {
    return {

    }
  },
  async asyncData({ app, route, params, error, store }) {
    try {
      await store.dispatch('getDataForBrands', route);
    } catch (err) {
      console.log(err)
      return error({
        statusCode: 404,
        message: 'Категории не найдены или сервер не доступен'
      })
    }
  },
  computed: {
    ...mapState({
      brands: 'brandsList'
    })
  }
}
</script>

<style lang="less" module>
  @import url(./style.less);
</style>
