.header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 12px;
  height: 68px;
  background-color: rgba(21,22,51,.7);
  z-index: 1;
}
.headerDarkBcg {
  background-color: @blue;
}
.headerBody {
  .container();
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.headerLeft {
  display: flex;
  align-items: flex-end;
  & img {
    width: 160px;
  }
}
.headerText {
  margin-top: 4px;
  font-size: 9px;
  line-height: 1.2em;
  color: white;
}
.headerRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  max-width: 280px;
}
.phone {
  margin-left: 40px;
  font-size: 1rem;
  line-height: 1.2em;
  color: white;
  & span {
    font-size: 1.1rem;
    font-weight: 600;
  }
}

@media (max-width: 992px) {
  .headerLeft {
    & img {
      width: 120px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    height: auto;
  }
  .headerBody {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .headerLeft {
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 576px) {
  .headerLeft {
    & img {
      width: 75px;
    }
  }
  .headerText {
    margin-top: 6px;
    font-size: 8px;
  }

}