<template>
  <div :class="[$style.header, isLightBcg ? $style.headerDarkBcg : '']">
    <div :class="$style.headerBody">
      <div :class="$style.headerLeft">
        <n-link to="/">
          <img
            src="~/assets/img/logo.png"
            alt="Evaway"
            :class="$style.headerLogo"
          >
          <p :class="$style.headerText">Автомобильные коврики</p>
        </n-link>
        <a href="#0" :class="$style.phone">
          <span>+7 (999)</span> 999-99-99
        </a>
      </div>

      <div
        v-if="isShowCart"
        :class="$style.headerRight"
      >
        <Search />
        <Cart/>
      </div>
    </div>
  </div>
</template>

<script>
import Cart from '~~/components/common/Cart/Cart'
import Search from '~~/components/common/Search/Search'


export default {
  components: {
    Cart,
    Search,
  },
  computed: {
    isShowCart() {
      return this.$route.name !== 'order';
    },
    isLightBcg() {
      return this.$route.name !== 'index';
    }
  },
  data() {
    return {

    }
  }
}
</script>

<style lang="less" module>
  @import url('./Header.less');
</style>
