<template>
  <footer :class="$style.footer">
    <div :class="$style.footerContainer">
      <div :class="$style.footerRow">
        <div>
          <n-link to="/">
            <img
              src="~/assets/img/logo.png"
              alt="Evaway"
              :class="$style.footerLogo"
            >
          </n-link>
        </div>
        <div :class="$style.footerCol">
          <a href="#0" :class="$style.phone">
            <span>+7 (999)</span> 999-99-99
          </a>
          <div :class="$style.social">
            <a
              :class="$style.socialIcon"
              href="#0"
              target="_blank"
            >Vk
              <svg>
                <use href="~/assets/svg/sprite.svg#vk" />
              </svg>
            </a>
            <a
              :class="$style.socialIcon"
              href="#0"
              target="_blank"
            >Instagram
              <svg>
                <use href="~/assets/svg/sprite.svg#instagram" />
              </svg>
            </a>
          </div>
        </div>
      </div>
      <p :class="$style.footerText">
        © 2021 Компания {{ name }}
      </p>
    </div>
  </footer>
</template>

<script>
import DATA from '../../data/constants';

export default {
  name: 'Footer',
  data() {
    return {
      name: DATA.NAME,
    }
  }
}
</script>

<style lang="less" module>
  @import url('./Footer.less');
</style>
