.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  background: url('../../../assets/img/bcg-3.jpg') no-repeat center;
  background-size: cover;
}
.footerContainer {
  position: relative;
  .container();
}
.footerRow {
  display: flex;
  margin-bottom: 10px;
  align-items: flex-end;
  justify-content: space-between;
}
.footerLogo {
  width: 90px;
}
.footerCol {
  display: flex;
  align-items: center;
}
.phone {
  margin-right: 20px;
  font-size: 0.72rem;
  line-height: 1.2em;
  color: white;
}
.social {
  position: relative;
  display: flex;
  padding-left: 10px;
  margin-right: -10px;
  align-items: center;
  border-left: 1px solid white;
}
.socialIcon {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0;
  line-height: 0;
  color: transparent;
  width: 20px;
  height: 20px;
  & svg {
    fill: white;
    width: 100%;
    height: 100%;
    transition: fill .3s ease;
    &:hover {
      fill: @red;
    }
  }
}
.footerText {
  font-size: .7rem;
  line-height: 1.2em;
  text-align: center;
}

@media (max-width: 576px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footerRow {
    align-items: flex-start;
  }
  .footerCol {
    flex-direction: column;
  }
  .phone {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .social {
    border-left: none;
  }
}

