<template>
  <a-carousel
    dots-class="slick-dots slick-thumb"
  >
    <a
      slot="customPaging"
      slot-scope="props"
    >
      <img :src="list[props.i]" />
    </a>
    <div
      v-for="item in list"
      :key="item"
    >
      <img :src="item" />
    </div>
  </a-carousel>
</template>

<script>
// const baseUrl = 'https://raw.githubusercontent.com/vueComponent/ant-design-vue/master/components/vc-slick/assets/img/react-slick/';

export default {
  name: 'Calousel',
  props: ['list'],
  data() {
    return {
      // baseUrl,
    }
  },
  methods: {
    // getImgUrl(i) {
    //   return `${baseUrl}abstract0${i + 1}.jpg`;
    // },
  },
}
</script>

<style scoped>
/* For demo */
.ant-carousel >>> .slick-dots {
  height: auto;
}
.ant-carousel >>> .slick-slide img {
  display: block;
  border-radius: 4px;
  overflow: hidden;
}
.ant-carousel >>> .slick-thumb {
  bottom: 15px;
  right: 14px;
  text-align: right;
}
.ant-carousel >>> .slick-thumb li {
  width: 60px;
  height: 45px;
  border-radius: 4px;
}
.ant-carousel >>> .slick-thumb li img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  border-radius: 4px;
  opacity: .4;
  transition: all .3s ease;
}
.ant-carousel >>> .slick-thumb li img:hover {
  filter: grayscale(0%);
  opacity: .6;
}
.ant-carousel >>> .slick-thumb li.slick-active img {
  opacity: 1;
  filter: grayscale(0%);
  box-shadow: 0 0 10px 0 rgba(28, 28, 28, .25);
  border: 1px solid white;
  transform: scale(1.07);
}
</style>

<style lang="less" module>
  @import url('./style.less');
</style>
