<template>
  <div :class="$style.advantages">
    <div :class="$style.advantagesTitle">
      <h2 class="title-h2"><span>Преимущества</span> Eva ковриков</h2>
    </div>
    <div :class="$style.advantagesBlock">
      <div :class="$style.advantagesBlockText">
        <h3>Уникальная ячеистая структура</h3>
        <p>Инновационная ячеистая структура Коврики Cellmat обладают прекрасной 
          амортизацией, практически не изнашиваются, выдерживают экстремально 
          низкие и высокие температуры окружающей среды</p>
      </div>
      <div :class="$style.advantagesBlockImg">
        <img src="~/assets/img/eco-cellular-structure.jpeg" alt="Уникальная ячеистая структура">
      </div>
    </div>
    <div :class="$style.advantagesBlock">
      <div :class="$style.advantagesBlockImg">
        <img 
          :class="$style.imgHeight"
          src="~/assets/img/eco-interior-cleanliness.jpeg"
          alt="Чистота салона в любое время года"
        >
      </div>
      <div :class="$style.advantagesBlockTextRight">
        <h3>Чистота салона в любое время года</h3>
        <p>Благодаря своей ячеистой структуре,коврики Cellmat не позволяют 
          воде и грязи попасть в салон, сохраняя чистоту Вашей одежды, 
          обуви и автомобиля.</p>
      </div>
    </div>
    <div :class="$style.advantagesBlock">
      <div :class="$style.advantagesBlockImg">
        <img
          :class="$style.imgHeight"
          src="~/assets/img/eco-clean-material.jpeg"
          alt="Экологически чистый материал"
        >
      </div>
      <div :class="$style.advantagesBlockTextRight">
        <h3>Экологически чистый материал</h3>
        <p>Eva (этиленвацитат) - экологичный, безопасный, и не вызывающий 
          аллергии материал, что особенно важно, если в машине находятся дети</p>
      </div>
    </div>
    <div :class="$style.advantagesBlock">
      <div :class="$style.advantagesBlockText">
        <h3>Многообразие цветовых решений</h3>
        <p>Широкий выбор цветов ковриков Cellmat и окантовки к ним позволяет 
          подобрать индивидуальную комбинацию, которая идеально впишется в 
          салон Вашего автомобиля.</p>
      </div>
      <div :class="$style.advantagesBlockImg">
        <img
          :class="$style.imgHeight"
          src="~/assets/img/eco-manifold.jpeg"
          alt="Многообразие цветовых решений"
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Advantages',
  data() {
    return {
      
    }
  }
}
</script>

<style lang="less" module>
  @import url('./Advantages.less');
</style>
