.advantages {
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
  flex-wrap: wrap;
  align-items: stretch;
  & > div {
    width: 50%;
  }
}
.advantagesTitle {
  display: flex;
  margin-bottom: 40px;
  align-items: flex-end;
}
.advantagesBlock {
  display: flex;
  align-items: flex-end;
  min-height: 320px;
  color: white;
  background-color: @black;
}
.advantagesBlockText {
  padding-left: 40px;
  padding-right: 10px;
  padding-bottom: 40px;
  width: 70%;
}
.advantagesBlockTextRight {
  padding-left: 10px;
  padding-right: 40px;
  padding-bottom: 40px;
  width: 70%;
}
.advantagesBlockText,
.advantagesBlockTextRight {
  & > h3 {
    margin-bottom: 20px;
    font-size: 1.4rem;
    line-height: 1.2em;
    color: white;
  }
  & >  p {
    line-height: 1.5em;
    font-weight: 300;
  }
}
.advantagesBlockImg {
  align-items: center;
  justify-content: center;
  width: 30%;
  overflow: hidden;
  & .imgHeight {
    width: auto;
    height: 100%;
    max-height: 370px;
  }
}

