.advantages {
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px
}
.advantagesTitle {
  .container();
}
.item {
  padding-top: 30px;
  padding-bottom: 30px;
}
.item2 {
  background-color: @grey;
}
.item3 {
  color: white;
  background-color: @blue;
  .itemTitle {
    & p {
      color: @red;
      &::after {
        background-color: white;
      }
    }
  }
}
.itemBlock {
  .container();
  padding-right: 40%;
  & > p {
    line-height: 1.7em;
  }
}
.advantagesImg {
  .container();
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  & img {
    box-shadow: @shadowMiddle;
  }
  & > div {
    position: relative;
    width: 30%;
  }
}
.itemTitle {
  display: flex;
  padding-bottom: 12px;
  align-items: center;
  & p {
    position: relative;
    padding-bottom: 4px;
    margin-bottom: 0;
    margin-right: 5px;
    font-size: .7rem;
    line-height: 1em;
    font-weight: 600;
    color: @blue;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 3px;
      background-color: @red;
    }
  }
  & h3 {
    padding: 0;
    margin: 0;
    color: @greyDark;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1em;
    font-weight: 600;
  }
}

@media (max-width: 992px) {
  .advantages {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 576px) {
  .advantagesImg {
    position: relative;
    & > div {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      width: auto;
      max-width: 220px;
    }
  }
  .itemBlock {
    padding-right: 20px;
  }
  .item {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
