<template>
  <div :class="$style.advantages">
    <div :class="$style.advantagesTitle">
      <h2 class="title">Преимущества</h2>
    </div>
    
    <div :class="$style.advantagesImg">
      <lazy-component>
        <picture>
          <img
            src="~/assets/img/girl.jpg"
            alt="Преимущества evaway"
          />
        </picture>
        <div class="line_2 aboutLine_1" />
        <div class="line_2 aboutLine_2" />
      </lazy-component>
    </div>
    <div :class="$style.item">
      <div :class="$style.itemBlock">
        <div :class="$style.itemTitle">
          <p>01</p>
          <h3>Выразительность</h3>
        </div>
        <p>
          Богатейшая палитра доступных цветов ковриков и окантовки позволит подобрать наиболее подходящее 
          Вам цветовое сочетание и великолепно вписать покупку в интерьер автомобиля. Стильный подпятник 
          и металлический логотип послужат дополнением
        </p>
      </div>
    </div>
    <div :class="[$style.item, $style.item2]">
      <div :class="$style.itemBlock">
        <div :class="$style.itemTitle">
          <p>02</p>
          <h3>Практичность</h3>
        </div>
        <p>
          Коврики не нуждаются в просушке, как того требуют коврики текстильные. В ненастную погоду Ваши 
          ноги всегда будут стоять выше уровня воды, собранной в ячейках. Вы ни капли не прольете, даже 
          вынимая коврики одной рукой
        </p>
      </div>
    </div>
    <div :class="[$style.item, $style.item3]">
      <div :class="$style.itemBlock">
        <div :class="$style.itemTitle">
          <p>03</p>
          <h3>Надежность</h3>
        </div>
        <p>
          Мы даем 2 года гарантии на нашу продукцию только потому что уверенны в их износостойкости. 
          Стильный подпятник прокачивает комплект ковриков до уровня "неубиваемый", однако если потребуется, 
          Вы можете заказать любой коврик отдельно от комплекта
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MainAdvantages',
  data() {
    return {
      
    }
  },
}
</script>


<style lang="less" module>
  @import url('./Advantages.less');  
</style>

<style scoped>
  .aboutLine_1 {
    position: absolute;
    top: 70px;
    right: -50px;
    z-index: 2;
  }
  .aboutLine_2 {
    position: absolute;
    bottom: 70px;
    left: -50px;
    z-index: 2;
  }
</style>
