<template>
  <div
    :class="[ { active: searchText }, `nav-search` ]"
  >
    <a-auto-complete
      v-model="searchText"
      class="nav-search__compite"
      option-label-prop="value"
      @focus="onFocusSearch"
      @blur="onBlurSearch"
    >
      <a-input>
        <a-icon
          slot="suffix"
          type="search"
          class="certain-category-icon"
        />
      </a-input>
    </a-auto-complete>
  </div>
</template>

<script>
export default {
  name: 'Search',
  data() {
    return {
      searchText: '',
    }
  },
  methods: {
    onFocusSearch() {
      if (!this.searchText) {
        this.searchText = ' ';
      }
    },
    onBlurSearch() {
      if (this.searchText === ' ') {
        this.searchText = '';
      }
    },
  }
}
</script>

<style lang="less" module>
  @import url('./Search.less');
</style>
