<template>
  <a-modal
    :visible="visible"
    title="Описание"
    :footer="null"
    @cancel="onCancel"
  >
    <p :class="$style.p">
      Автомобильные коврики для {{ name }} в салон авто и багажник сделаны из 
      инновационного полимерного материала EVA, изысканная структура в виде ячеек не дает воде, 
      пыли и снегу разлетаться по салону машины и багажнику. Автоковрики зафиксированы на полу 
      определенными клипсами, соответствующими {{ name }}, и не двигаются в 
      процессе езды.
    </p>
    <p :class="$style.p">
      Уникальными свойствами является быстрая чистота пола в машине после посадки в плохую 
      погоду. Такими свойствами не сможет похвастаться обычное покрытие. На деле с помощью 
      ЭВА покрытия можно повысить уровень комфорта во всем автомобиле.
    </p>
    <p :class="$style.p">
      Заказывая коврики у нас, вы легко получите повседневный комфорт за невысокую цену. Важно, 
      что при производстве используются индивидуальные лекала для каждой марки авто. В обычном 
      интернет-магазине вы не найдете такого ассортимента как у нашей компании.
    </p>
    <p :class="$style.p">
      Главное преимущество EVA перед обычными, оригинальными поликами - это возможность, которая 
      позволяет качественно создать защиту автомобильного текстиля от мусора и воды, а также:
    </p>
    <ul :class="$style.ul">
      <li>Благодаря особой структуре за ковриками легче ухаживать. Достаточно их просто вытряхнуть.</li>
      <li>Клиенты очень часто делают свой выбор в пользу ЕВА не только потому, что надежно защищают 
        от грязи, а еще потому, что они экологичны.</li>
      <li>Покрытие всегда есть в наличии для передних мест пассажиров и для задних поликов задних сидений.</li>
      <li>Стандартный набор в любом оформлении отлично подойдет для любой марки.</li>
      <li>Ковры – соты самый лучший вариант для российского климата. Они обеспечивают достаточную защиту 
        для текстиля всегда и являются лидером среди автомобильных покрытий на рынке.</li>
      <li>ЕВА покупают и еще и потому что это очень просто удобно.</li>
      <li>Обратите свое внимание, что для постоянных покупателей после получения первого заказа действует 
        программа лояльности (условия уточняйте у менеджера). Чтобы задать вопрос об использовании покрытия, 
        сервисе, быстроте доставки в пункт выдачи, а также работе сайта и нужно позвонить по телефону или 
        по ссылке для связи написать нам. Найти всю информацию можно в шапке сайта.</li>
    </ul>
  </a-modal>
</template>

<script>
export default {
  props: ['visible', 'name'],
  methods: {
    onSelect(item) {
      this.$emit('onOk', item);
    },
    onCancel() {
      this.$emit('onClose');
    },
  }
}
</script>

<style lang="less" module>
  @import url(./style.less);
</style>
