.block {

}
.ul {
  list-style: none;
  &>.li {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 5px;
      left: 2px;
      width: 4px;
      height: 4px;
      background-color: @red;
    }
  }
}
.p {
  margin-bottom: 20px;
  text-indent: 30px;
  &~.ul {
    margin-bottom: 10px;
  }
}
