.about {
  .container();
  display: flex;
  align-items: flex-start;
}
.aboutText {
  position: relative;
  padding-bottom: 20px;
  width: 65%;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 2px;
    background-color: @red;;
  }
  & p {
    margin-bottom: 10px;
    text-indent: 30px;
  }
}
.aboutImg {
  margin-left: 5%;
  width: 30%;
}
.aboutSquad {
  position: relative;
  box-shadow: @shadowMiddle;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: @blue;
    z-index: 1;
  }
}
.aboutLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  z-index: 2;
}

@media (max-width: 576px) {
  .about {
    flex-direction: column;
  }
  .aboutText {
    margin-bottom: 10px;
    width: 100%;
  }
  .aboutImg {
    margin-left: 0;
    width: 100%;
  }
  .aboutSquad {
    margin-left: auto;
    margin-right: auto;
    max-width: 220px;
  }
}
