<template>
  <div :class="$style.about">
    <div :class="$style.aboutText">
      <h2 class="title">О компании</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni ut voluptas molestias iusto adipisci tempora veritatis recusandae architecto. Aperiam labore dolor facere veniam enim rem itaque ipsam ratione minus commodi?</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt molestias eius saepe magnam! Nihil ea amet odit consectetur, unde perspiciatis ipsa molestias cum expedita praesentium culpa officiis minus quas at!</p>
    </div>
    <div :class="$style.aboutImg">
      <div :class="$style.aboutSquad">
        <img
          src="~/assets/img/squad.jpg"
          alt="Фон"
        >
        <lazy-component>
          <picture>
            <img
              :class="$style.aboutLogo"
              src="~/assets/img/logo_big.png"
              alt="evaway"
            >
          </picture>
        </lazy-component>
        <div class="line_2 aboutLine_1" />
        <div class="line_2 aboutLine_2" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MainAbout',
  data() {
    return {
      
    }
  },
  methods: {
    
  }
}
</script>


<style lang="less" module>
  @import url('./About.less');  
</style>

<style scoped>
  .aboutLine_1 {
    position: absolute;
    top: 70px;
    right: -50px;
    z-index: 2;
  }
  .aboutLine_2 {
    position: absolute;
    bottom: 70px;
    left: -50px;
    z-index: 2;
  }
</style>
