<template>
  <a-modal
    :visible="visible"
    title="Характеристики"
    :footer="null"
    @cancel="onCancel"
  >
    <div :class="$style.table">
      <div :class="$style.row">
        <div :class="[$style.col, $style.col50]">Производитель ковриков</div>
        <div :class="[$style.col, $style.col50]">CellMat™</div>
      </div>
      <div :class="$style.row">
        <div :class="[$style.col, $style.col50]">Сертификация продукции</div>
        <div :class="[$style.col, $style.col50]">Сертификат соответствия</div>
      </div>
      <div :class="$style.row">
        <div :class="[$style.col, $style.col50]">Менеджмент качества</div>
        <div :class="[$style.col, $style.col50]">Сертификат соответствия ISO 9001:2015</div>
      </div>
      <div :class="$style.row">
        <div :class="[$style.col, $style.col50]">Состав комплекта</div>
        <div :class="[$style.col, $style.col50]">5 ковриков: водительский, пассажирский, два задних коврика и перемычка</div>
      </div>
      <div :class="$style.row">
        <div :class="[$style.col, $style.col50]">Площадка отдыха левой ноги водителя</div>
        <div :class="[$style.col, $style.col50]">Закрыта</div>
      </div>
      <div :class="$style.row">
        <div :class="[$style.col, $style.col50]">Штатные крепления модели</div>
        <div :class="[$style.col, $style.col50]">3</div>
      </div>
      <div :class="$style.row">
        <div :class="[$style.col, $style.col50]">Дополнительные крепления</div>
        <div :class="[$style.col, $style.col50]">липучки 50 мм (текстильная застёжка Velcro)</div>
      </div>
      <div :class="$style.row">
        <div :class="[$style.col, $style.col50]">Тип материала</div>
        <div :class="[$style.col, $style.col50]">Вспененный этилентвинилацетат (EVA), защищённый патентом РФ RU178815U1</div>
      </div>
      <div :class="$style.row">
        <div :class="[$style.col, $style.col50]">Производитель материала</div>
        <div :class="[$style.col, $style.col50]">ООО "ЭкоПолимеры", Россия</div>
      </div>
      <div :class="$style.row">
        <div :class="[$style.col, $style.col50]">Толщина материала</div>
        <div :class="[$style.col, $style.col50]">10-12 мм</div>
      </div>
      <div :class="$style.row">
        <div :class="[$style.col, $style.col50]">Глубина ячеек</div>
        <div :class="[$style.col, $style.col50]">7-8 мм</div>
      </div>
      <div :class="$style.row">
        <div :class="[$style.col, $style.col50]">Форма ячеек</div>
        <div :class="[$style.col, $style.col50]">Ромб или шестигранник (сота)</div>
      </div>
      <div :class="$style.row">
        <div :class="[$style.col, $style.col50]">Вместимость ячеек</div>
        <div :class="[$style.col, $style.col50]">2,5 литра на 1 кв.м.</div>
      </div>
      <div :class="$style.row">
        <div :class="[$style.col, $style.col50]">Материал окантовки</div>
        <div :class="[$style.col, $style.col50]">Полипропиленовая стропа</div>
      </div>
      <div :class="$style.row">
        <div :class="[$style.col, $style.col50]">Сезонность ковриков</div>
        <div :class="[$style.col, $style.col50]">Всесезонные</div>
      </div>
      <div :class="$style.row">
        <div :class="[$style.col, $style.col50]">Температурный диапазон</div>
        <div :class="[$style.col, $style.col50]">от от -50 °С до +50 °С</div>
      </div>
      <div :class="$style.row">
        <div :class="[$style.col, $style.col50]">Гарантийный срок</div>
        <div :class="[$style.col, $style.col50]">1 год или 20000 км пробега</div>
      </div>
      <div :class="$style.row">
        <div :class="[$style.col, $style.col50]">Срок эксплуатации</div>
        <div :class="[$style.col, $style.col50]">До 5 лет или до 100000 км пробега</div>
      </div>
      <div :class="$style.row">
        <div :class="[$style.col, $style.col50]">Габариты упаковки</div>
        <div :class="[$style.col, $style.col50]">750*550*50 мм</div>
      </div>
      <div :class="$style.row">
        <div :class="[$style.col, $style.col50]">Средний вес комплекта ковриков</div>
        <div :class="[$style.col, $style.col50]">2 кг</div>
      </div>
    </div>
  </a-modal>
</template>

<script>
export default {
  props: ['visible', 'name'],
  methods: {
    onSelect(item) {
      this.$emit('onOk', item);
    },
    onCancel() {
      this.$emit('onClose');
    },
  }
}
</script>

<style lang="less" module>
  @import url(./style.less);
</style>
