.table {

}
.row {
  display: flex;
  border-bottom: 1px solid @red;
  &:last-child {
    border-bottom: none;
  }
}
.col {
  padding: 10px 10px 10px 0;
  &:last-child {
    padding-right: 0;
  }
}
.col50 {
  width: 50%;
}

