<template>
  <div
    v-if="bredcrumbs && bredcrumbs.length"
    :class="$style.breadcrumbs"
  >
    <a-breadcrumb>
      <a-breadcrumb-item
        v-for="(crumb, idx) in bredcrumbs"
        :key="`crumb_${idx}`"
      >
        <n-link :to="crumb.link">
          {{ crumb.name }}
        </n-link>
      </a-breadcrumb-item>
      <a-breadcrumb-item
        v-if="currentPage"
      >
        {{ currentPage }}
      </a-breadcrumb-item>
    </a-breadcrumb>
  </div>
</template>



<script>
import { mapState } from 'vuex';

export default {
  data() {
    return {

    }
  },
  computed: {
    ...mapState({
      currentPage: 'currentPage',
      bredcrumbs: 'bredcrumbs'
    })
  },
}
</script>

<style lang="less" module>
  @import url('./Breadcrumbs.less');
</style>