<template>
  <div
    :class="[$style.cart, 'cart-icon' ]"
  >
    <div
      v-if="numFilterOfGoods"
      :class="$style.cartNum"
    >
      {{ numFilterOfGoods }}
    </div>
    <a-tooltip
      placement="bottomRight"
      overlay-class-name="tooltip"
    >
      <template
        v-if="numFilterOfGoods"
        slot="title"
      >
        <div :class="$style.cartlistList">
          <div
            :class="$style.cartlistItem"
            v-for="product in products"
            :key="`cart_${product.id}`"
          >
            <div :class="$style.cartlistImg">
              <!-- v-lazy="require(`~/assets/img/MHL23.png`)" -->
              <img
                v-lazy="product.image"
                :alt="product.model"
              >
            </div>
            <div :class="$style.cartlistDescription">
              <p :class="$style.cartlistName">
                {{ `${product.brand} ${product.model}` }}
              </p>
              <div
                :class="$style.cartlistCharacteristics"
                v-for="param in product.params"
                :key="`${param.value}_${product.id}`"
              >
                <p :class="$style.cartlistCount">
                  {{ param.label }}
                </p>
              </div>
              <div :class="$style.cartlistItemFooter">
                <p :class="$style.cartlistPrice">
                  Р {{ product.price | splitPrice }}
                </p>
              </div>
              <a
                :class="$style.cartlistDel"
                @click.prevent="onRemoveItem(product.id)"
              >
                <a-icon
                  slot="suffix"
                  type="delete"
                />
              </a>
            </div>
          </div>
        </div>
        <div :class="$style.cartlistTotal">
          <p :class="$style.cartlistTotalText">Итого</p>
          <p :class="$style.cartlistTotalValue">Р {{ priceSum | splitPrice }}</p>
        </div>
        <div :class="$style.cartlistBtn">
          <n-link
            to="/order"
            class="btn-4"
          >
            Заказать
          </n-link>
        </div>
      </template>
      <svg>
        <use href="~/assets/svg/sprite.svg#cart" />
      </svg>
    </a-tooltip>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import separate from '~~/mixins/separate.js';

export default {
  name: 'Cart',
  data() {
    return {
      numberOfGoods: 3,
    }
  },
  mixins: [separate],
  computed: {
    products () {
      return this.$store.state.cart.products;
    },
    numFilterOfGoods() {
      const count = (this.products || []).length;

      if (!count) return '';

      return count > 9
        ? '>9'
        : String(count)
    },
    priceSum() {
      const sum = this.products.reduce((acc, curr) => (acc + (curr.price || 0)), 0);
      return sum;
    },
  },
  created() {
    this.setLocalStorage();
  },
  methods: {
    ...mapActions({
      addProducts: 'cart/addProducts',
      removeProduct: 'cart/removeProduct'
    }),

    onRemoveItem(id) {
      this.removeProduct(id);
    },

    setLocalStorage() {
      if (process.browser) {
        const cart = localStorage.getItem('cart');

        // :TODO Сделать очистку корзины, спустя определенное время
        if (cart) {
          this.addProducts(JSON.parse(cart));
        }
      }
    }
  }
}
</script>

<style lang="less" module>
  @import url('./Cart.less');
</style>
