.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
@red: #ffa500;
@redLight: #ffeaea;
@redHover: #ffbc40;
@black: #1c1c1c;
@grey: #f3f3f3;
@greyDark: #999999;
@blue: #191b3e;
@redOpacity: rgba(255, 165, 0, .4);
@whiteOpacity: rgba(255, 255, 255, .7);
@blueOpacity: rgba(25, 27, 62, .7);
@borderRadius: 4px;


@shadowSmallRed: 0 0 10px 0 rgba(255, 165, 0, .4);
@shadowSmall: 6px 6px 14px 1px rgba(28, 28, 28, .04);
@shadowMiddle: 6px 6px 14px 1px rgba(28, 28, 28, .2);
@shadowBlock: 10px 10px 20px 1px rgba(28, 28, 28, .12);
@shadowText: 10px 10px 10px rgba(28, 28, 28, .3);

