html {
	margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: @black;
  background: white;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
}
.grow-block {
  flex-grow: 1;
}

p, h1, h2,h3, ul {
	padding: 0;
	margin: 0;
  font-size: 1rem;
  line-height: 1.2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
a {
	text-decoration: none;
  font-size: 1rem;
  line-height: 1.2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
	color: @black;
  &:hover {
    color: @red;
  }
}
img {
  display: block;
  width: 100%;
}


.btn-2 {
  padding: 14px 38px;
  font-size: 1rem;
  line-height: 1.2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  border-radius: 24px;
  border: none;
  background-color: @red;
  box-shadow: 0 5px 20px 0 @redOpacity;
  outline: none;
  transition: all .3s ease;
  cursor: pointer;
  &:hover {
    transform: translateY(-1px);
    background-color: @redHover;
    box-shadow: 0 5px 20px 5px @redOpacity;
  }
  &:active {
    transform: translateY(2px);
    box-shadow: 0 0 0 0 @redOpacity;
  }
  &.btn-2--border {
    padding: 13px 37px;
    color: @red;
    border: 1px solid @red;
    background-color: transparent;
    &:hover {
      color: @redHover;
      background-color: transparent;
      border-color: @redHover;
    }
  }
}

.btn-3 {
  padding: 7px 18px;
  font-size: .82rem;
  line-height: 1.2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: white;
  border: none;
  border-radius: @borderRadius;
  background-color: @red;
  outline: none;
  transition: all .3s ease;
  cursor: pointer;
  &:hover {
    background-color: @redHover;
    box-shadow: @shadowSmallRed;
  }
}
.btn-3--border {
  padding: 6px 17px;
  color: @red;
  border: 1px solid @red;
  background-color: transparent;
  &:hover {
    color: @redHover;
    background-color: transparent;
    border-color: @redHover;
  }
}

.title {
  margin-bottom: 30px;
  font-size: 2.4rem;
  line-height: 1.2em;
  font-weight: 600;
  color: @greyDark;
  text-transform: uppercase;
}
.title-h2 {
  margin-bottom: 30px;
  font-size: 2.2rem;
  line-height: 1.2em;
  font-weight: 600;
}
.title-h3 {
  margin-bottom: 20px;
  font-size: 1.72rem;
  line-height: 1.2em;
  font-weight: 600;
  color: @greyDark;
  text-transform: uppercase;
}

.a-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

// ant
.modal {
  & .ant-modal-content {
    border-radius: @borderRadius;
    box-shadow: @shadowBlock;
  }
}

.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active {
  border-color: @red;
  box-shadow: 0 0 0 2px @redOpacity;
}
.ant-select-selection:hover {
  border-color: @red;
}
.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled),
.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: @redLight;
}

.ant-breadcrumb {
  & a:hover {
    color: @red;
  }
}
.ant-breadcrumb-separator {
  color: @red;
}

.ant-select {
  width: 100%;
}


.ant-select-auto-complete.ant-select .ant-input:focus,
.ant-select-auto-complete.ant-select .ant-input:hover {
  border-color: @red;
}
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: @red;
}
.ant-input:focus {
  box-shadow: 0 0 0 2px @redOpacity;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: @redLight;
}


.ant-checkbox-checked .ant-checkbox-inner {
  background-color: @red;
  border-color: @red;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner,
.ant-checkbox-checked::after {
  border-color: @red;
}


.ant-steps-item-finish .ant-steps-item-icon {
  border-color: @red;
}
.ant-steps-item-process .ant-steps-item-icon {
  background-color: @red;
  border-color: @red;
}
.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: @red;
}
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color: @red;
}



.cart-icon {
  width: 100%;
}
.cart-icon__link {
  & svg {
    width: 100%;
    height: 100%;
  }
}


.nav-search {
  width: 44px;
  transition: width .3s ease;
  .ant-input {
    border-color: transparent;
  }
  & .ant-select-selection {
    background-color: transparent;
    border-color: transparent;
  }
  & svg {
    fill: white;
    transform: scale(1.3);
    transition: all .3s ease;
  }
  &.active {
    width: 100%;
    & .ant-select-selection {
      background-color: white;
      border-color: @red;
    }
    .ant-input-affix-wrapper .ant-input:not(:last-child) {
      padding-right: 30px;
    }
    & svg {
      fill: @black;
      transform: scale(1);
    }
  }
}
.ant-input-affix-wrapper .ant-input:not(:last-child) {
  padding-right: 10px;
}


// Card-tooltip
.tooltip {
  & .ant-tooltip-inner {
    padding: 10px;
    color: @black;
    background-color: white;
    width: 320px;
    border-radius: 10px;
    transform: translateX(-70px);
    box-shadow: @shadowBlock;
  }
}
.cart-icon {
  & .ant-tooltip-open {
    fill: @red;
  }
}

.navigation a.navigation-active {
  color: @red
}

.line_1 {
  width: 50px;
  height: 3px;
  transform: rotate(-50deg);
  background-color: @red;
  box-shadow: @shadowMiddle;
}
.line_2 {
  width: 100px;
  height: 3px;
  transform: rotate(-50deg);
  background-color: @red;
  box-shadow: @shadowMiddle;
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
  .title {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 1.9rem;
  }
  .title-h3 {
    font-size: 1.4rem;
  }
  .line_2 {
    width: 70px;
  }
}
