.review {
  .container();
}
.reviewBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviewImg {
  position: relative;
  width: 30%;
  box-shadow: @shadowMiddle;
}
.reviewList {
  width: 60%;
}
.reviewItem {
  display: flex;
  padding: 20px 30px;
  margin-bottom: 20px;
  align-items: flex-start;
  background-color: @blue;
  color: white;
}
.reviewItemImg {
  margin-right: 20px;
  width: 60px;
  height: 60px;
  min-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  background-color: white;
}
.reviewItemText {

}
.reviewItemName {
  margin-bottom: 10px;
  font-weight: 600;
  color: white;
}
.reviewItemDescription {
  margin-bottom: 10px;
  line-height: 1.7em;
}
.reviewItemDate {
  font-size: .9rem;
  opacity: .7;
}

@media (max-width: 992px) {
  .reviewItem {
    padding: 14px 20px;
  }
}

@media (max-width: 768px) {
  .reviewBody {
    flex-direction: column-reverse;
  }
  .reviewImg {
    width: 100%;
    max-width: 220px;
  }
  .reviewList {
    margin-bottom: 20px;
    width: 100%;
  }
  .reviewItemImg {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    min-width: 50px;
    max-height: 50px;
  }
}

@media (max-width: 576px) {
  .reviewItem {
    padding: 10px 14px;
  }
  .reviewItemImg {
    width: 40px;
    height: 40px;
    min-width: 40px;
    max-height: 40px;
  }
  .reviewItemDescription {
    font-size: .9rem;
  }
}
