<template>
  <div :class="$style.review">
    <div :class="$style.reviewBody">
      <div :class="$style.reviewImg">
        <lazy-component>
          <picture>
            <img
              src="~/assets/img/pic-1.jpg"
              alt="evaway"
            >
          </picture>
        </lazy-component>
        <div class="line_2 reviewLine_1" />
        <div class="line_2 reviewLine_2" />
      </div>
      <div :class="$style.reviewList">
        <h2 class="title">Отзывы</h2>
        <div
          :class="$style.reviewItem"
          v-for="review in reviews"
          :key="review.id"
        >
          <div :class="$style.reviewItemImg">
            <lazy-component>
              <picture>
                <img
                  :src="review.avatar"
                  :alt="evaway"
                >
              </picture>
            </lazy-component>
          </div>
          <div :class="$style.reviewItemText">
            <h4 :class="$style.reviewItemName">{{ review.name }}</h4>
            <p :class="$style.reviewItemDescription">{{ review.text }}</p>
            <p :class="$style.reviewItemDate">{{ review.dateText }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MainReviews',
  data() {
    return {
      reviews: [
        {
          id: 0,
          avatar: '',
          name: 'Иванов Иван',
          text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit sint fuga, itaque recusandae atque modi architecto vero assumenda excepturi quo minus hic, saepe id! Accusantium et hic vel alias repudiandae.',
          dateText: '10 янв 2020 в 16:20',
        },
        {
          id: 1,
          avatar: '',
          name: 'Иванов Иван 2',
          text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit sint fuga, itaque recusandae atque modi architecto vero assumenda excepturi quo minus hic, saepe id! Accusantium et hic vel alias repudiandae.',
          dateText: '10 янв 2020 в 16:20',
        },
        {
          id: 2,
          avatar: '',
          name: 'Иванов Иван 3',
          text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit sint fuga, itaque recusandae atque modi architecto vero assumenda excepturi quo minus hic, saepe id! Accusantium et hic vel alias repudiandae.',
          dateText: '10 янв 2020 в 16:20',
        },
      ]
    }
  },
  methods: {
    
  }
}
</script>


<style lang="less" module>
  @import url('./Reviews.less');  
</style>

<style scoped>
  .reviewLine_1 {
    position: absolute;
    top: 70px;
    right: -50px;
    z-index: 2;
  }
  .reviewLine_2 {
    position: absolute;
    bottom: 70px;
    left: -50px;
    z-index: 2;
  }
</style>
