<template>
  <div :class="$style.order">
    <a-steps :current="current">
      <a-step
        v-for="item in steps"
        :key="item.title"
        :title="item.title"
      />
    </a-steps>
    <div :class="$style.content">
      <StepOne
        v-if="current === 0"
        :products="products"
      />
    </div>
    <div :class="$style.footer">
      <button
        v-if="current === 1 || current === 2"
        class="btn-3"
        @click="onPrev"
      >Назад</button>
      <button
        v-if="current === 0 || current === 1"
        class="btn-3"
        @click="onNext"
      >Далее</button>
      <button
        v-if="current === 2"
        class="btn-3"
        @click="onBuy"
      >Заказать</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Order',
  components: {
    StepOne: () => import('../../components/order/StepOne/index.vue')
  },
  computed: {
    products () {
      const products = this.$store.state.cart.products;
      const productsbyTable = products.map((product, idx) => {
        const productByTable = {
          idx: idx + 1,
          name: product.model,
          count: product.count,
          price: product.price,
        };
        
        productByTable.sum = (productByTable.count || 1) * productByTable.price;
        return productByTable;
      });

      return productsbyTable;
    },
    priceSum() {
      const sum = this.products.reduce((acc, curr) => (acc + (curr.price || 0)), 0);
      return sum;
    },
  },
  data() {
    return {
      current: 0,
      steps: [
        {
          title: 'Наименование товара',
        },
        {
          title: 'Адрес и способ доставки',
        },
        {
          title: 'Оплата',
        },
      ]
    }
  },
  methods: {
    onPrev() {
      this.current -= 1;
    },
    onNext() {
      // :TODO Добавить проверку для второго шага
      this.current += 1;
    },
    onBuy() {
      console.log('====================ON_BUY');
    },
  }
}
</script>

<style lang="less" module>
  @import url('./style.less');
</style>
