.order {
  padding-top: 70px;
  padding-bottom: 70px;
  .container();
}
.content {
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  justify-content: flex-end;
  & > button {
    margin: 0 10px;
  }
}



