<template>
  <div :class="$style.view">
    <client-only>

      <Flickity
        ref="flickity"
        :class="$style.viewBlock"
        :options="flickityOptions"
      >
        <div :class="[$style.item, $style.item1]">
          <div :class="$style.itemBody">
            <h2>Коврики <strong>Evaway</strong></h2>
            <p>с доставкой по всей России</p>
          </div>
        </div>
        <div :class="[$style.item, $style.item2]">
          <div :class="$style.itemBody">
            <h2>Коврики <strong>Evaway</strong></h2>
            <p>с доставкой по всей России</p>
          </div>
        </div>
      </Flickity>

      <div :class="$style.btns">
        <button
          :class="[$style.btn, $style.btnLeft]"
          @click="previous()"
        >Previous</button>
        <button
          :class="[$style.btn, $style.btnRight]"
          @click="next()"
        >Next</button>
      </div>
    </client-only>
  </div>
</template>

<script>
export default {
  name: 'MainBanner',
  data() {
    return {
      flickityOptions: {
        initialIndex: 0,
        prevNextButtons: false,
        pageDots: true,
        wrapAround: true
      }
    }
  },
  methods: {
    next() {
      this.$refs.flickity.next();
    },
    
    previous() {
      this.$refs.flickity.previous();
    }
  }
}
</script>


<style>
  .flickity-page-dots {
    bottom: 70px;
    right: 70px;
    width: auto;
  }
  .flickity-page-dots {
    bottom: 15px;
    right: 54px;
  }
  .flickity-page-dots .dot {
    background: #ffa500;
  }
</style>
<style lang="less" module>
  @import url('./Banner.less');  
</style>