.view {
  position: relative;
  .container();
}
.viewBlock {
  margin-left: -40px;
  margin-right: -40px;
  & > * {
    box-sizing: content-box;
  }
}
.item {
  width: 100%;
  height: 420px;
  background-color: @blue;
}
.btns {
  position: absolute;
  bottom: 40px;
  right: 40px;
  display: flex;
  margin-left: -7px;
  margin-right: -7px;
}
.btn {
  position: relative;
  margin-left: 7px;
  margin-right: 7px;
  font-size: 0;
  line-height: 0;
  color: transparent;
  width: 50px;
  height: 50px;
  min-width: 50px;
  border: none;
  border-radius: 50%;
  background-color: @whiteOpacity;
  transition: all .3s ease;
  box-shadow: 3px 3px 10px 0 rgba(28,28,28,.2);
  cursor: pointer;
  &:active,
  &:focus {
    box-shadow: 0px 0px 0px 0 rgba(28,28,28,.2);
    outline: none;
    &::after {
      border-color: @red;
    }
  }
  &:hover {
    box-shadow: 0px 0px 0px 0 rgba(28,28,28,.2);
    background-color: @whiteOpacity;
    &::after {
      border-color: @red;
    }
  }
}
.btnLeft {
  &::after {
    content: '';
    position: absolute;
    top: 18px;
    left: 20px;
    width: 14px;
    height: 14px;
    border-top: 3px solid @black;
    border-right: 3px solid @black;
    transform: rotate(-135deg);
    transition: all .3s ease;
  }
}
.btnRight {
  &::after {
    content: '';
    position: absolute;
    top: 18px;
    left: 14px;
    width: 14px;
    height: 14px;
    border-top: 3px solid @black;
    border-right: 3px solid @black;
    transform: rotate(45deg);
  }
}

.item1 {
  background: url('../../../assets/img/main.jpg') no-repeat center;
  background-size: auto 100%;
}
.itemBody {
  position: relative;
  display: flex;
  padding: 120px 20px 50px 20px;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  &::before {
    content: '';
    position: absolute;
    bottom: 80px;
    left: 350px;
    width: 4px;
    height: 160px;
    background-color: @red;
    transform: rotate(35deg);
    z-index: 0;
  }
  & h2 {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 4.2rem;
    line-height: 1.2em;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px rgba(28,28,28,.5);
    z-index: 1;
    & strong {
      color: @red;
      font-weight: 600;
    }
  }
  & p {
    margin-left: 380px;
    font-size: 2.0rem;
    line-height: 1.1em;
    font-weight: 400;
    color: white;
    text-shadow: 4px 4px 5px rgba(28,28,28,1);
  }
}

@media (max-width: 992px) {
  .itemBody {
    &::before {
      bottom: 120px;
      left: 320px;
    }
  }
}

@media (max-width: 768px) {
  .itemBody {
    padding-top: 160px;
    &::before {
      bottom: 125px;
      left: 150px;
      width: 40px;
      height: 2px;
      transform: rotate(120deg);
    }
    & h2 {
      font-size: 2.4rem;
    }
    & p {
      margin-left: 0;
      font-size: 1.2rem;
    }
  }
  .item {
    height: 340px;
  }
  .btn {
    width: 36px;
    height: 36px;
    min-width: 36px;
  }
  .btnLeft {
    &::after {
      top: 12px;
      left: 14px;
      width: 12px;
      height: 12px;
    }
  }
  .btnRight {
    &::after {
      top: 12px;
      left: 10px;
      width: 12px;
      height: 12px;
    }
  }
}

@media (max-width: 768px) {
  .itemBody {
    padding-top: 130px;
    & h2 {
      font-size: 2.1rem;
    }
    p {
      font-size: 1.1rem;
    }
    &::before {
      bottom: 140px;
      left: 134px;
    }
  }
}

@media (max-width: 576px) {
  .btns {
    right: 0;
  }
}
