<template>
  <div :class="$style.body">
    <div :class="$style.row">
      <div :class="$style.col">
        <a-select
          show-search
          :value="value"
          placeholder="Страна"
          style="width: 200px"
          :default-active-first-option="false"
          :show-arrow="false"
          :filter-option="false"
          :not-found-content="null"
          @search="handleSearch"
          @change="handleChange"
        >
          <a-select-option v-for="d in data" :key="d.value">
            {{ d.text }}
          </a-select-option>
        </a-select>
      </div>
      <div :class="$style.col">
        <a-select
          show-search
          :value="value"
          placeholder="Регион"
          style="width: 200px"
          :default-active-first-option="false"
          :show-arrow="false"
          :filter-option="false"
          :not-found-content="null"
          @search="handleSearch"
          @change="handleChange"
        >
          <a-select-option v-for="d in data" :key="d.value">
            {{ d.text }}
          </a-select-option>
        </a-select>
      </div>
      <div :class="$style.col">
        <a-select
          show-search
          :value="value"
          placeholder="Город"
          style="width: 200px"
          :default-active-first-option="false"
          :show-arrow="false"
          :filter-option="false"
          :not-found-content="null"
          @search="handleSearch"
          @change="handleChange"
        >
          <a-select-option v-for="d in data" :key="d.value">
            {{ d.text }}
          </a-select-option>
        </a-select>
      </div>
    </div>
  </div>
</template>

<script>
import separate from '~~/mixins/separate.js';

export default {
  name: 'StepTwo',
  computed: {
    priceSum() {
      const sum = this.products.reduce((acc, curr) => (acc + (curr.sum || 0)), 0);
      return sum;
    },
  },
  data() {
    return {
      columns,
    }
  },
  mixins: [separate],
}
</script>

<style lang="less" module>
  @import url('./style.less');
</style>
