<template>
  <div
    v-if="item && item.color"
    :style="{ 'background-color': item.color }"
  >
    <img
      class="img-background"
      src="~/assets/img/squad.jpg"
      alt="Фон"
    />
  </div>
  <div
    :class="$style.item"
    v-else
  >
    <img
      v-if="item && item.img"
      :src="item.img"
      :alt="item.text"
    />
    <img
      class="img-background"
      v-else
      src="~/assets/img/squad.jpg"
      alt="Фон"
    />
  </div>
</template>

<script>
export default {
  props: ['item'],
}
</script>

<style scoped>
  .img-background {
    opacity: 0;
  }
</style>

<style lang="less" module>
  @import url(./style.less);
</style>

