<template>
  <div :class="$style.main">
    <div :class="$style.upblock">
      <div :class="$style.upblockBody">
        <Banner />
        <div :class="$style.social">
          <a
            :class="$style.socialIcon"
            href="#0"
            target="_blank"
          >Vk
            <svg>
              <use href="~/assets/svg/sprite.svg#vk" />
            </svg>
          </a>
          <a
            :class="$style.socialIcon"
            href="#0"
            target="_blank"
          >Instagram
            <svg>
              <use href="~/assets/svg/sprite.svg#instagram" />
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div :class="$style.catalog">
      <Catalog :brands="brands" />
    </div>

    <div :class="$style.advantages">
      <Advantages />
    </div>

    <div :class="$style.advantages">
      <Payment />
    </div>

    <div :class="$style.reviews">
      <Reviews />
    </div>

    <div :class="$style.about">
      <About />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

import Banner from '~~/components/main/Banner/Banner'
import Catalog from '~~/components/main/Catalog/Catalog'
import Advantages from '~~/components/main/Advantages/Advantages'
import Payment from '~~/components/main/Payment/Payment'
import Reviews from '~~/components/main/Reviews/Reviews'
import About from '~~/components/main/About/About'

export default {
  components: {
    Banner,
    Catalog,
    Advantages,
    Payment,
    Reviews,
    About,
  },
  // TODO: Создать звапрос популярных марок
  async asyncData({ app, route, params, error, store }) {
    try {
      await store.dispatch('getDataForBrands', route);
    } catch (err) {
      console.log(err)
      return error({
        statusCode: 404,
        message: 'Категории не найдены или сервер не доступен'
      })
    }
  },
  computed: {
    ...mapState({
      brands: 'brandsList'
    })
  },
  data() {
    return {
    };
  },
  methods: {
    
  }
}
</script>

<style lang="less" module>
  @import url('./style.less');
</style>
