.main {
  
}

.upblock {
  position: relative;
  margin-top: -120px;
  background-color: @blue;
  z-index: 0;
}
.upblockBody {
  position: relative;
  .container();
}

.social {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  align-items: center;
  width: 120px;
  z-index: 1;
}
.socialIcon {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0;
  line-height: 0;
  color: transparent;
  width: 26px;
  height: 26px;
  & svg {
    fill: white;
    width: 100%;
    height: 100%;
    transition: fill .3s ease;
    &:hover {
      fill: @red;
    }
  }
}

.about,
.reviews {
  padding-top: 70px;
  padding-bottom: 70px;
}

@media (max-width: 992px) {
  .reviews {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .upblock {
    margin-top: -160px;
  }
  .socialIcon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 576px) {
  .upblock {
    margin-top: -150px;
  }
}


