<template>
  <div :class="$style.list">
    <div
      :class="$style.block"
      v-for="brand in brands"
      :key="brand.id"
    >
      <n-link
        :to="`/catalog/${brand.brief}`"
        class="a-link"
      />
      <div :class="$style.blockImg">
        <lazy-component>
          <picture>
            <img
              :src="brand.icon"
              :alt="brand.name"
            />
          </picture>
        </lazy-component>
      </div>
      <p :class="$style.blockText">{{ brand.name }}</p>
    </div>

  </div>
</template>

<script>
export default {
  name: 'CatalogList',
  props: ['brands'],
  methods: {
    next() {
      this.$refs.flickity.next();
    },
    
    previous() {
      this.$refs.flickity.previous();
    }
  }
}
</script>


<style lang="less" module>
  @import url('./List.less');  
</style>  