.list {
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
  flex-wrap: wrap;
}
.block {
  position: relative;
  padding: 16px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  border: 1px solid @grey;
  border-radius: @borderRadius;
  width: calc(16.66% - 40px);
  height: 160px;
  background-color: white;
  transition: box-shadow .3s ease, background .3s ease;
  &:hover {
    background-color: #fafafa;
    box-shadow: @shadowSmall;
  }
}
.blockImg {
  display: flex;
  height: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blockText {
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 992px) {
  .list {
    margin-left: -5px;
    margin-right: -5px;
  }
  .block {
    padding: 12px;
    margin-left: 5px;
    margin-right: 5px;
    width: calc(16.66% - 10px);
  }
}

@media (max-width: 576px) {
  .block {
    padding: 10px;
    margin-bottom: 10px;
    width: calc(33.33% - 10px);
    height: 140px;
  }
  .blockImg {
    height: 80px;
    & img {
      margin-left: auto;
      margin-right: auto;
      max-width: 80px;
    }
  }
}
