<template>
  <div :class="$style.model">
    <div :class="$style.header">
      <div :class="$style.headerImg">
        <Carousel 
          :list="galleryList"
        />
        <!-- :TODO Сделать пример коврика
        <div :class="$style.headerRug">
          <div :class="$style.headerRugImg" />
          <p :class="$style.headerDescription">* пример коврика</p>
        </div> -->
      </div>
      <div :class="$style.options">
        <h2
          :class="$style.optionsTitle"
          v-if="currentProduct"
        >
          {{ `EVA коврики ${currentProduct.brand} ${currentProduct.model}` }}
        </h2>

        <div :class="$style.description">
          <a
            class="btn-3 btn-3--border"
            href="#0"
            @click.prevent="onToggleModalDescription"
          >Описание</a>
          <a
            class="btn-3 btn-3--border"
            href="#0"
            @click.prevent="onToggleModalCharacteristics"
          >Характеристики</a>
        </div>

        <div :class="$style.optionsList">
          <div :class="$style.optionsCol">
            <div :class="$style.optionsAllSelect">
              <a-checkbox
                :checked="isCheckedAll"
                @change="onChangeSeparatelyAll"
              >
                Комплект ковриков в салон
              </a-checkbox>
            </div>
            <div :class="$style.optionSeparately">
              <a-checkbox-group
                v-model="checkedSeparatelyList"
                :options="separatelyList"
              />
            </div>
          </div>
          <div :class="$style.optionsCol">
            <a-checkbox
              :checked="checkedTrunk"
              @change="onChangeTrunk"
            >
              Коврик в багажник
            </a-checkbox>
          </div>
        </div>

        <div :class="$style.settings">
          <div
            :class="$style.settingsBlock"
            v-for="option in optionList"
            :key="option.brief"
          >
            <a
              href="#0"
              class="a-link"
              @click.prevent="onOpenModal(option.brief)"
            />
            <p :class="$style.settingsTitle">{{ option.title }}</p>
            <div
              v-if="selectParams[option.brief].brief"
              :class="[$style.settingsSelect, { [$style.settingsReset]: option.isReset }]"
              @click="onResetOption(option.brief)"
            >
              <ViewBlock
                :item="selectParams[option.brief]"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div :class="$style.price">
      <div :class="$style.priceList">
        <p>Список товаров для покупки:</p>
        <ul>
          <li
            v-for="(select, idx) in selectList"
            :key="`select_${idx}`"
          >
            {{ select.label }}
          </li>
        </ul>
      </div>

      <div>
        <p :class="$style.priceValue">{{ price }} ₽</p>
        <p :class="$style.priceDescription">Скидка 5% при предоплате заказа</p>
        <div
          v-if="!isInCart"
          :class="$style.priceBtns"
        >
          <button
            class="btn-2 btn-2--border"
            @click="onAddToCart"
          >В корзину</button>
          <button
            class="btn-2"
            @click="onBuy"
          >Купить</button>
        </div>
        <p
          v-else
          :class="$style.priceBlock"
        >
          Товар в корзине
        </p>
      </div>
    </div>

    <ModalList
      :visible="isVisibleModal"
      :title="activeModal.title"
      :list="listByModal"
      @onOk="onOkModal"
      @onClose="onCloseModal"
    />

    <ModalDescription
      :visible="isVisibleModalDescription"
      :name="this.currentProduct && `${this.currentProduct.brand} ${this.currentProduct.model}` || ''"
      @onClose="onToggleModalDescription"
    />
    <ModalCharacteristics
      :visible="isVisibleModalCharacteristics"
      @onClose="onToggleModalCharacteristics"
    />
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import separate from '~~/mixins/separate.js';

const separatelyList = [
  {
    label: 'Пассажирский коврик',
    value: 'passenger',
  }, {
    label: 'Коврики второго ряда',
    value: 'secondrow',
  }, {
    label: 'Водительский коврик',
    value: 'driver',
  },
];
const optionList = {
  type: {
    brief: 'type',
    title: 'Выберите тип и цвет материала',
    list: 'typeList',
  },
  color: {
    brief: 'color',
    title: 'Цвет коврика',
    list: 'colorList',
  },
  edging: {
    brief: 'edging',
    title: 'Цвет окантовки',
    list: 'colorList',
  },
  heel: {
    brief: 'heel',
    title: 'Подпятник',
    list: 'heelList',
    isReset: true,
  },
  labelBrand: {
    brief: 'labelBrand',
    title: 'Шильдик',
    list: 'labelBrandList',
    isReset: true,
  }
};


export default {
  components: {
    Carousel: () => import('~~/components/model/Carousel/index.vue'),
    ModalList: () => import('~~/components/model/ModalList/index.vue'),
    ViewBlock: () => import('~~/components/model/ViewBlock/index.vue'),
    ModalDescription: () => import('~~/components/model/ModalDescription/index.vue'),
    ModalCharacteristics: () => import('~~/components/model/ModalCharacteristics/index.vue'),
  },
  data() {
    return {
      separatelyList,
      checkedSeparatelyList: separatelyList.map(item => item.value),
      checkedTrunk: false,

      isVisibleModal: false,
      isVisibleModalDescription: false,
      isVisibleModalCharacteristics: false,

      activeModal: {
        title: '',
        brief: '',
      },
      isCheckedTrunk: {
        value: false,
        price: 1500
      },
      listByModal: [],
      optionList,

      selectParams: {
        type: {},
        color: {},
        edging: {},
        heel: {},
        labelBrand: {},
      }
    }
  },
  mixins: [separate],
  async asyncData({ app, params, route, error }) {
    try {
      await app.store.dispatch('getDataForModel', route)
    } catch (err) {
      console.log(err);
      return error({
        statusCode: 404,
        message: 'Категория не найдена или сервер не доступен'
      });
    }
  },
  head () {
    const { brand, model } = this.currentProduct;
    const title = `EVA коврики ${brand} ${model}`;
    const content = title; // :TODO Уточнить про content (описание)

    return {
      title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content
        }
      ]
    }
  },
  computed: {
    ...mapState({
      currentProduct: 'currentProduct',
      typeList: 'typeList',
      colorList: 'colorList',
      heelList: 'heelList',
      labelBrandList: 'labelBrandList',
    }),
    isCheckedAll() {
      return this.separatelyList && this.separatelyList.length === this.checkedSeparatelyList.length;
    },
    isProductAdded() {
      return this.products.find(p => p.id === this.product.id)
    },
    price() {
      let currentPrice = 0;
      
      if (this.isCheckedAll && this.currentProduct.price?.all) {
        currentPrice = this.currentProduct.price?.all;
      } else {
        currentPrice = (this.checkedSeparatelyList || []).reduce((acc, curr) => {
          return acc + this.currentProduct.price[curr];
        }, 0)
      }
      const priceParams = Object.values(this.selectParams).reduce((acc, curr) => {
        return (curr.price)
          ? acc + curr.price
          : acc;
      }, 0);

      currentPrice += priceParams;
      if (this.checkedTrunk) {
        currentPrice += (this.currentProduct.price['trunk'] || 0);
      }

      return currentPrice;
    },
    selectList() {
      const separatelyObj = this.separatelyList.reduce((acc, curr) => {
        acc[curr.value] = curr;
        return acc;
      }, {});
      const mainList = this.checkedSeparatelyList.map(item => {
        const { label, value } = separatelyObj[item] || {};

        return {
          label,
          value,
        }
      });
      const otherList = Object.values(this.selectParams)
        .filter(item => item.price)
        .map(item => {
          return {
            label: item.name,
            value: item.brief,
          }
        });

      if (this.checkedTrunk) {
        mainList.push({
          value: 'trunk',
          label: 'Коврик в багажник',
        });
      }

      return [ ...mainList, ...otherList ];
    },
    isInCart () {
      const cartList = this.$store.state.cart.products || [];
      return cartList.some(item => item.id === this.currentProduct.id);
    },
    galleryList () {
      return this.currentProduct
        ? [ this.currentProduct.image, ...this.currentProduct.imagesList ]
        : [];
    }
  },
  created() {
    // значения по умолчанию
    this.selectParams.color = this.colorList[0];
    // {
    //   brief: 'black',
    //   text: 'Черный',
    //   color: 'black',
    // };
    this.selectParams.type = this.typeList[0];
    // {
    //   brief: 'comb',
    //   text: 'Сота',
    //   img: '',
    // };
    this.selectParams.edging = this.colorList[0];
    // {
    //   brief: 'black',
    //   text: 'Черный',
    //   color: 'black',
    // };
    

    // typeList: 'typeList',
    // colorList: 'colorList',
    // heelList: 'heelList',
    // labelBrandList: 'labelBrandList',
  },
  methods: {
    ...mapActions({
      addProduct: 'cart/addProduct',
    }),

    onChangeSeparatelyAll(e) {
      const isChacked = e.target.checked;

      this.checkedSeparatelyList = (isChacked)
        ? separatelyList.map(item => item.value)
        : [this.separatelyList[0].value]
    },
    onChangeTrunk() {
      this.checkedTrunk = !this.checkedTrunk;
    },

    onOpenModal(type) {
      const { brief, title, list } = this.optionList[type] || {};

      if (!brief) return;

      this.listByModal = this[list];
      this.activeModal = {
        title,
        brief,
      };
      this.isVisibleModal = true;
    },
    onOkModal(params) {
      const { brief } = this.activeModal;

      this.isVisibleModal = false;
      this.selectParams[brief] = params;
    },
    onCloseModal() {
      this.isVisibleModal = false;
    },
    onResetOption(brief) {
      this.selectParams[brief] = {};
    },
    
    onToggleModalDescription() {
      this.isVisibleModalDescription = !this.isVisibleModalDescription;
    },
    onToggleModalCharacteristics() {
      this.isVisibleModalCharacteristics = !this.isVisibleModalCharacteristics;
    },

    onAddToCart() {
      const {
        id,
        brand,
        model,
        image,
      } = this.currentProduct

      this.addProduct({
        id,
        brand,
        model,
        image:   image,
        price:   this.price,
        params:  this.selectList,
        count:   1,
      })
    },
    onBuy() {
      // Добавить товар в корзину и перейти на оформление
      this.onAddToCart();
      const path = `/order`;

      this.$router.push({ path });
    },
  },
}
</script>

<style lang="less" module>
  @import url(./style.less);
</style>

<style scoped>
  .ant-checkbox-wrapper >>> .ant-checkbox-inner,
  .ant-checkbox-group >>> .ant-checkbox-inner {
    width: 22px;
    height: 22px;
  }
  .ant-checkbox-wrapper >>> .ant-checkbox-inner::after,
  .ant-checkbox-group >>> .ant-checkbox-inner::after {
    top: 48%;
    left: 20%;
    width: 8px;
    height: 14px;
  }
  .ant-checkbox-group {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .ant-checkbox-group >>> .ant-checkbox-group-item {
    position: relative;
    margin-bottom: 10px;
  }
  .ant-checkbox-group >>> .ant-checkbox-group-item::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -30px;
    width: 1px;
    height: 32px;
    background-color: #999999;
  }
  .ant-checkbox-group >>> .ant-checkbox-group-item:last-child::after {
    height: 16px;
  }
  .ant-checkbox-group >>> .ant-checkbox-group-item::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -30px;
    height: 1px;
    width: 20px;
    background-color: #999999;
  }
</style>
