.model {
  padding-top: 30px;
  padding-bottom: 40px;
  .container();
}
.header {
  display: flex;
}
.headerImg {
  margin-right: 40px;
  width: calc(40% - 40px);
}
.headerDescription {
  font-size: .72rem;
  line-height: 1.2em;
  font-weight: 300;
  color: @greyDark;
}

.options {
  width: 60%;
}
.optionsTitle {
  margin-bottom: 40px;
  font-weight: 600;
}
.description {
  display: flex;
  margin-left: -4px;
  margin-right: -4px;
  margin-bottom: 20px;
  & a {
    margin: 0 4px;
  }
}

.optionsAllSelect {
  margin-bottom: 12px;
}
.optionSeparately {
  padding-left: 40px;
}
.optionsList {
  display: flex;
  padding: 16px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid @grey;
}
.optionsCol {
  width: 50%;
}

.settings {
  display: flex;
  margin-left: -7px;
  margin-right: -7px;
  flex-wrap: wrap;
}
.settingsBlock {
  position: relative;
  display: flex;
  padding: 4px;
  margin: 7px;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  border: 1px solid @grey;
  width: calc(50% - 14px);
  min-height: 80px;
  transition: box-shadow .3s ease, background .3s ease;
  &:hover,
  &.active {
    background-color: #fafafa;
    box-shadow: @shadowSmall;
  }
}
.settingsTitle {
  margin: 0 12px;
  font-size: .87rem;
  line-height: 1.2em;
  color: @greyDark;
}
.settingsSelect {
  width: 70px;
  height: 70px;
  border: 4px solid white;
  border-radius: 4px;
  box-shadow: 0 0 2px 1px rgba(28, 28, 28, .1);
}
.settingsReset {
  position: relative;
  cursor: pointer;
  z-index: 2;
  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 31px;
    left: 6px;
    width: 50px;
    height: 2px;
    background-color: @grey;
    transition: opacity .3s ease;
    opacity: 0;
  }
  &::after {
    transform: rotate(45deg);
  }
  &::before {
    transform: rotate(-45deg);
  }
  &:hover {
    &::after,
    &::before {
      opacity: 1;
    }
  }
}

.price {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  & ul {
    list-style: none;
  }
  & li {
    position: relative;
    padding-left: 20px;
    font-size: .84rem;
    line-height: 1.2em;
    &::before {
      content: '';
      position: absolute;
      top: 8px;
      left: 7px;
      width: 7px;
      height: 1px;
      background-color: @greyDark;
    }
  }
}
.priceList {
  color: @greyDark;
}

.priceDescription {
  margin-bottom: 22px;
  font-size: .72rem;
  line-height: 1.2em;
  text-align: right;
  font-weight: 300;
  color: @greyDark;
}
.priceValue {
  text-align: right;
  font-size: 1.91rem;
  line-height: 1.2em;
  font-weight: 600;
  color: @red;
}
.priceBtns {
  margin-left: -4px;
  margin-right: -4px;
  & button {
    margin: 0 4px
  }
}

.priceBlock {
  font-size: 1.4rem;
  line-height: 1.2em;
  color: @greyDark;
  text-align: right;
}

