<template>
  <div>
    <div :class="$style.coversContent">
      <div :class="$style.coversHeader">
        <div :class="$style.coversImg">
          <img
            :src="brand.icon"
            :alt="brand.name"
          >
        </div>
        <div :class="$style.coversCaption">
          <h2>{{ brand.name }}</h2>
        </div>
      </div>

      <!-- <div :class="$style.coversFilters">
        <div>

        </div>
        <div>
          
        </div>
      </div> -->
      

      <div :class="$style.coversBlocks">
        <div
          :class="$style.block"
          v-for="model in brand.models"
          :key="model.id"
        >
          <div>
            <div :class="$style.blockImg">
              <lazy-component>
                <picture>
                  <img
                    :src="model.image"
                    :alt="model.model"
                  >
                </picture>
              </lazy-component>
            </div>
            <div :class="$style.blockText">
              <h2 :class="$style.blockName">{{ model.model }}</h2>
              <div :class="$style.footer">
                <div :class="$style.footerPrice">
                  <p :class="$style.price"><span>₽</span>{{ model.price | splitPrice }}</p>
                </div>
                <div :class="$style.footerBtn">
                  <button
                    class="btn-3"
                    @click="onOpenDescription(model._id)"
                  >Подробнее</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <ModalDescription
      :is-visible="isVisibleMDescription"
      :is-loading="loading"
      :model="activeModel"
      @onClose="onCloseDescription"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex';
import separate from '~~/mixins/separate.js';

export default {
  components: {
    ModalDescription: () => import('../../../components/category/Modal/Modal')
  },
  data() {
    return {
      activeModel: {},
      isVisibleMDescription: false,
      loading: false,
    }
  },
  mixins: [separate],
  async asyncData({ app, params, route, error }) {
    try {
      await app.store.dispatch('getDataForModels', route)
    } catch (err) {
      console.log(err);
      return error({
        statusCode: 404,
        message: 'Категория не найдена или сервер не доступен'
      });
    }
  },
  computed: {
    ...mapState({
      brand: 'currentBrand'
    })
  },
  // head () {
  //   const { meta } = this.brand;

  //   return {
  //     title: meta?.cTitle,
  //     meta: [
  //       {
  //         hid: 'description',
  //         name: 'description',
  //         content: meta?.cMetaDescription
  //       }
  //     ]
  //   }
  // },
  methods: {
    onCloseDescription() {
      if (this.loading) return;

      this.isVisibleMDescription = false;
      this.activeModel = '';
    },
    onOpenDescription(modelId) {
      const { brand } = this.$route.params;
      const path = `/catalog/${brand}/${modelId}`;

      this.$router.push({ path });
    },
  }
}
</script>

<style lang="less" module>
  @import url(./style.less);
</style>
