.coversContent {
  .container();
  padding-top: 30px;
  padding-bottom: 40px;
}
.coversHeader {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  border: 1px solid @grey;
  border-radius: @borderRadius;
  box-shadow: @shadowSmall;
}
.coversImg {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
}
.coversCaption {
  margin-left: 30px;
  & > h2 {
    font-size: 1.72rem;
    line-height: 1.2em;
    font-weight: 700;
  }
}

.coversBlocks {
  display: flex;
  padding-top: 20px;
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap: wrap;
}
.block {
  margin: 10px 15px;
  border: 1px solid @grey;
  border-radius: @borderRadius;
  width: calc(33.33% - 30px);
  & > div {
    display: flex;
    padding: 20px;
    align-items: stretch;
    height: 100%;
    overflow: hidden;
  }
}
.blockImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 130px;
  min-width: 40%;
}
.blockText {
  display: flex;
  padding-left: 14px;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}
.blockName {
  padding-bottom: 10px;
  font-size: 1.1rem;
  line-height: 1.2em;
  font-weight: 600;
}
.footer {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
}
.price {
  font-size: .92rem;
  line-height: 1.2em;
  font-weight: 300;
  color: @greyDark;
  & > span {
    display: inline-block;
    margin-top: 4px;
    margin-right: 5px;
    transform: translateY(4px);
    opacity: .4;
  }
}
.footerBtn {
  display: flex;
  margin-top: 14px;
  justify-content: flex-end;
}

.cart {
  display: flex;
  padding-right: 20px;
  align-items: stretch;
}
.cartImg {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 150px;
  min-width: 150px;
  & img {
    width: 100%;
    max-width: 200px;
  }
}
.cartDescription {
  display: flex;
  padding-left: 15px;
  flex-direction: column;
  flex-grow: 1;
}
.cartName {
  padding-bottom: 10px;
  font-size: 1.1rem;
  line-height: 1.2em;
  font-weight: 600;
}
.cartPrice {
  font-size: 1.1rem;
  line-height: 1.2em;
  font-weight: 300;
  color: @greyDark;
}
.cartSelects {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.cartBtns {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  flex-grow: 1;
  & button {
    margin-bottom: 7px;
    width: 140px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.select {
  display: flex;
  margin-bottom: 7px;
  align-items: center;
  &:last-child {
    margin-bottom: 0;
  }
}
.selectLabel {
  margin-right: 10px;
  width: 100px;
  min-width: 100px;
}



