<template>
  <div :class="[$style.navigation, isLightBcg ? $style.navigationDarkBcg : '']">
    <div :class="$style.navigationContainer">
      <div :class="$style.navigationBlock">
        <ul :class="$style.navigationList">
          <li
            class="navigation"
          >
            <n-link
              to="/"
              active-class="navigation-active"
              exact
            >
              Главная
            </n-link>
          </li>
          <li
            v-for="item in list"
            :key="item.id"
            class="navigation"
          >
            <n-link
              :to="item.url"
              active-class="navigation-active"
            >
              {{ item.title }}
            </n-link>
          </li>
        </ul>
        
      </div>
    </div>
  </div>
</template>

<script>


export default {
  computed: {
    isLightBcg() {
      return this.$route.name !== 'index';
    }
  },
  data() {
    return {
      list: [
        {
          id: 1,
          url: '/catalog',
          title: 'Каталог',
          type: 'catalog',
        },
        // {
        //   id: 2,
        //   url: '/about',
        //   title: 'О продукте',
        //   type: 'About',
        // },
        // {
        //   id: 3,
        //   url: '/contacts',
        //   title: 'Контакты',
        //   type: 'Contacts',
        // },
      ],
    }
  },
}
</script>

<style lang="less" module>
  @import url('./Navigation.less');
</style>
