.navigation {
  position: relative;
  padding-top: 16px;
  padding-bottom: 10px;
  font-size: 1rem;
  height: 52px;
  z-index: 1;
}

.navigationContainer{
  .container();
}
.navigationBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigationList {
  display: flex;
  padding: 6px 0;
  margin: 0 -20px;
  list-style: none;
  & li {
    position: relative;
    margin: 0 20px;
  }
  & a {
    color: white;
    transition: color .3s ease;
    &:hover {
      color: @red;
    }
  }
}

.navigationDarkBcg {
  & a {
    color: @blue;
  }
}

@media (max-width: 576px) {
  .navigation {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .navigationList {
    padding: 5px 0;
  }
}





